
.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px; 
    background-color: #080808; 
}

.navLinks {
    display: flex; 
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    gap: 40px;

}
.navLinks a{
    color:white;
    text-decoration: none;
    font-family: cursive;
    transition: transform 0.3s;
}

.navLinks a:hover{
    transform: scale(1.5);
}


.navIcon {
    margin-left: 0; 
    width: 30px; 
    height: 30px;
    transition: transform 0.3s;
}
.navIcon:hover{
    transform:scale(1.5);
}

h3{
    text-align: center;
    color:white;
    margin-right: 10px;
    font-family: cursive;
}
.p{
    text-align: center;
    color:white;
    margin-right: 10px;
    font-family: cursive;
    text-transform: uppercase;
     
}

.btnLogout {
    border: 1px solid rgba(255, 255, 255, 0.5); 
    border-radius: 8px;
    margin: 5px;
    font-family: 'Cursive', sans-serif; 
    background: linear-gradient(135deg, #1a1a1a, #000000); 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 16px; 
    width: 130px; 
    height: 40px; 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
    cursor: pointer; 
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.btnLogout:hover {
    transform: scale(1.1); 
    background-color: #7e7b7b; 
    border: 1px solid #ffffff; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); 
}

.btnLogout:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6); 
}

.activeLink {
    color: white; 
    font-weight: bold; 
    text-decoration: underline; 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
                 0 0 10px rgba(255, 255, 255, 0.5), 
                 0 0 15px rgba(255, 255, 255, 0.3); 
    transition: text-shadow 0.3s ease; 
}.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}